#{extends 'layout.html' /}
#{set title:messages.get('secure.title') /}
<div id="login">
#{form @authenticate()}
<fieldset class="error">
<legend>&{'secure.title'}</legend>
<label for="username">&{'secure.username'}</label>
<input class="input" type="text" name="username" id="username" value="${flash.username}" required autofocus />
<label for="password">&{'secure.password'}</label>
<input class="input" type="password" name="password" id="password" value="" required />
*{<label for="remember">&{'secure.remember'}</label>
<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />}*
#{if flash.error}
<small>&{flash.error}</small>
#{/if}
#{if flash.success}
<small>&{flash.success}</small>
#{/if}
</fieldset>
<input class="submit" type="submit" id="signin" value="&{'secure.signin'}" />#{/form}

</div>
