*
  margin: 0
  
html, body
  background-color: #fcfdff
  min-width: 1000px
  height: 100%

.hide
  display: none

h1, h2, h3, h4
  color: #001133

a
  color: #223355
  text-decoration: none
  &:hover
    color: #556677

header
  padding: 10px
  background-color: #ddeeff
  border-bottom: solid #bdcedf 1px
  height: 120px
  img
    display: inline
    float: left
  h1, h2
    padding: 15px 0 0

input[type=text], input[type=search], textarea
  border: solid 1px #cacccf
    radius: 4px
  padding: 4px
  font:
    size: 14px
  &:focus
    $color: #66aaff
    box-shadow: 0px 0px 4px 2px $color
    background: rgba($color, 0.3) !important

#top
  padding:
    left: 163px
    right: 6px
  .welcome
    display: inline-block
    //width: 200px
  #search
    display: inline-block
    #query
      width: 268px
  .menu
    padding:
      top: 4px
      //bottom: 4px
    display: inline-block
    max-height: 19px
    float: right
    a
      margin:
        left: 10px

.title
  text-align: center
  margin: 0 92px 0

.wrapper
  height: auto !important
  min-height: 100%
  margin: 0 auto -71px

.container
  //background-color: #eeeeff
  height: 120px
  margin: 0 auto 0
  width: 1000px

footer
  background-color: #eaecef
  border-top: solid #cacccf 1px
  &, a, a:hover, a:visited
    color: #8a8c8f
  a
    text-decoration: none
  font:
    family: Arial, sans-serif
    size: 13px
  height: 50px
  text-align: right
  padding: 10px
  #admin
    float: left

.push
  height: 70px

#login, #home
  font-family: Tahoma, sans-serif

#login
  background-color: #ddeeff
  border: solid #bdcedf 1px
  width: 400px
  //height:250px
  margin: 50px auto 50px
  border-radius: 10px
  padding: 10px
  text-align: right
  .input
    width: 180px
  fieldset
    border: none
    border-radius: 10px
    text-align: left
    small
      display: block
      width: 100%
      text-align: center
    &.error
      //border:solid #ff6633 1px
      border-radius: 10px
      small
        color: #ff6633
  form
    legend
      padding: 4px
    label
      display: block
      float: left
      width: 108px
      padding: 4px
      text-align: right
      margin: 5px
    input
      margin: 5px
      //width: 200px
      //submit
      //  display: block
      //  float: right

#home
  padding: 6px
  width: 1000px
  margin: 0 auto 0
  #cat
    display: inline-block
    margin:
      top: 6px
      //bottom: 20px
    //float: left
    width: 152px
    text:
      align: right
    .cat
      padding: 0
    button
      font:
        size: 14px
    li
      margin:
        bottom: 8px
      list-style: none
  #main
    background-color: #ddeeff
    border: solid #bdcedf 1px
    border-radius: 10px
    display: inline-block
    vertical-align: top
    width: 829px
    min-height: 320px
    margin: 6px
    //padding: 10px

#main nav ul li
  display: inline
  //height: 30px
  //float: left
  //list-style: none

#list
  min-height: 376px
  table
    border: none
      collapse: collapse
    width: 100%
  .inplace_field
    //&, &:hover, &:active
    border: 0
    padding: 1px
    width: 100%
    max-width: 160px
    background: transparent
    font:
      family: sans
      size: 15px
    text:
      align: right
  tr:nth-child(even)
    background-color: #cddeef
  th
    padding: 0
      top: 4px
      bottom: 4px
    font:
      weight: normal
    color: #5d6e7f
  td
    padding: 2px
  td, th
    text:
      align: right
    font:
      family: sans
      size: 15px
    //border: 0
    //margin: 0

nav#controls
  text-align: right
  position: relative
  bottom: 0
  right: 0
  font-size: 12px
  margin:
    top: 12px
  
  .summary
    display: inline-block
  
  .pagination
    border: 0
    margin: 0
    padding: 0
    display: inline-block
    
    li
      border: 0
      margin: 0
      padding: 0
        left: 4px
        right: 4px
      list-style: none
    
    .off
      //font-weight: bold
      padding:
        left: 4px
        right: 4px
    
    .next a, .previous a
      //font-weight: bold
      //border: solid 1px #FFFFFF
    
    .active
      font-weight: bold
