#{extends 'layout.html' /}
#{set title:Sobre /}
<div id="home">
<h1>Sobre</h1>
<br>
<h2>Plataforma</h2>
<p>Esta plataforma foi o resutado de um TD (Tema Dirigido) concluído ao final de 2011.</p>
<p>O projeto é opensource com uma <a href="http://www.apache.org/licenses/LICENSE-2.0.html">licensa Apache</a> e está disponível <a href="http://code.google.com/p/materialcarga">aqui</a>.</p>
<p>O site foi desenvolvido usando o <a href="http://www.playframework.org">Play! framework</a> e está implementado em Java.</p>
<br>
<h2>Autores</h2>
<ul>
<li><a href="http://jan.segre.in">Jan Lucas de Lima Segre</a></li>
<li>Emanuelle Chaves</li>
<li>Raphaela Barreto</li>
<li>Jéssica Pereira</li>
</ul>
</div>