#{extends 'layout.html' /}
#{set title:'Sobre' /}
<div id="home">
<h1>Sobre</h1>
<br>
<h2>Plataforma</h2>
<p>Esta plataforma foi o resutado de um TD (Tema Dirigido) concluído ao final de 2011.</p>
<p>O projeto é opensource com uma <a href="http://www.apache.org/licenses/LICENSE-2.0">licensa Apache</a> e está disponível <a href="http://code.google.com/p/materialcarga">aqui</a>, qualquer problema deve ser reportado <a href="http://code.google.com/p/materialcarga/issues/list">aqui</a>.</p>
<p>O site foi desenvolvido usando o <a href="http://www.playframework.org">Play! framework</a> e está implementado em Java.</p>
<br>
<h2>Recomendações</h2>
<p>Este site segue os padrões propostos pela <a href="http://www.w3c.org">W3C</a> para as tecnologias HTML5 e CSS3, e também utiliza JavaScript.</p>
<p>É recomendado usar as versões mais recentes dos grandes navegadores, atualmente:</p>
<ul>
<li><a href="http://www.microsoft.com/windows/internet-explorer/">Internet Explorer</a> (9.0+)</li>
<li><a href="http://www.firefox.com/">Firefox</a> (7.0.1+)</li>
<li><a href="http://www.google.com/chrome">Google Chrome</a> (15.0+)</li>
<li><a href="http://www.apple.com/safari/">Safari</a> (5.1.1+)</li>
<li><a href="http://www.opera.com/">Opera</a> (11.52+)</li>
</ul>
<br>
<h2>Autores</h2>
<ul>
<li><a href="http://jan.segre.in">Jan Lucas de Lima Segre</a></li>
<li>Emanuelle Nunes Lira Chaves</li>
<li>Raphaela Brito Lopes Barreto</li>
<li>Jéssica Pereira Cunha</li>
</ul>
</div>