#{extends 'Application/layout.html' /}
#{set title:messages.get('add.title') /}
<div id="add" class="content">
#{form @addInventario()}
<fieldset>
<legend>&{'add.title'}</legend>
<label for="material">&{'add.material'}</label>
<input type="text" name="material" id="material" required autofocus />
<small class="error">#{error 'material' /}</small>
<br>
<label for="entrada">&{'add.entrada'}</label>
<input type="text" name="entrada" id="entrada" required />
<small class="error">#{error 'entrada' /}</small>
<br>
<label for="saida">&{'add.saida'}</label>
<input type="text" name="saida" id="saida" />
<small class="error">#{error 'saida' /}</small>
<br>
<label for="existencia">&{'add.existencia'}</label>
<input type="text" name="existencia" id="existencia" />
<small class="error">#{error 'existencia' /}</small>
<br>
<label for="valunit">&{'add.valunit'}</label>
<input type="text" name="valunit" id="valunit" required />
<small class="error">#{error 'valunit' /}</small>
<br>
<label for="valtotal">&{'add.valtotal'}</label>
<input type="text" name="valtotal" id="valtotal" />
<small class="error">#{error 'valtotal' /}</small>
<br>
<label for="classe">&{'add.classe'}</label>
<input type="text" name="classe" id="classe" list="classes" />
*{<datalist id="classes">
<label>or select one from the list:</label>
<select name="classe">
<option>Homer Simpson
<option>Bart
<option>Fred Flinstone
</select>
</datalist>}*
<small class="error">#{error 'classe' /}</small>
<br>
*{TODO: categoria}*
*{<label for="categoria">&{'add.categoria'}</label>
<select multiple>
#{list}
<option></option>
#{/list}
</select>}*
<small class="error">#{error 'categoria' /}</small>
<br>
<label for="contacontabil">&{'add.contacontabil'}</label>
<input type="text" name="contacontabil" id="contacontabil" />
<small class="error">#{error 'contacontabil' /}</small>
<br>
<label for="fichageral">&{'add.fichageral'}</label>
<input type="text" name="fichageral" id="fichageral" />
<small class="error">#{error 'fichageral' /}</small>
<br>
<label for="incluidoem">&{'add.incluidoem'}</label>
<input type="text" name="incluidoem" id="incluidoem" />
<small class="error">#{error 'incluidoem' /}</small>
<br>
<label for="nba">&{'add.nba'}</label>
<input type="text" name="nba" id="nba" />
<small class="error">#{error 'nba' /}</small>
<br>
<label for="ni">&{'add.ni'}</label>
<input type="text" name="ni" id="ni" />
<small class="error">#{error 'ni' /}</small>
<br>
<label for="observacoes">&{'add.observacoes'}</label>
<textarea name="observacoes" id="observacoes"></textarea>
<small class="error">#{error 'observacoes' /}</small>
<br>
</fieldset>
<input class="submit" type="submit" id="submit" value="&{'add.submit'}" />
#{/form}
</div>