#{extends 'layout.html' /}
#{set title: messages.get('conf.title') /}
<div id="login">
#{form @chpw()}
<fieldset class="error">
<legend>&{'conf.title'}</legend>
<label for="password">&{'conf.password'}</label>
<input type="password" name="password" id="password" required autofocus />
<label for="password2">&{'conf.password2'}</label>
<input type="password" name="password2" id="password2" value="" required />
#{if flash.error}
<small>&{flash.error}</small>
#{/if}
#{if flash.success}
<small>&{flash.success}</small>
#{/if}
#{if flash.chpw}
<small>&{flash.chpw}</small>
#{/if}
</fieldset>
<input class="submit" type="submit" id="submit" value="&{'conf.submit'}" />#{/form}

</div>
