#{extends 'Application/layout.html' /}
#{set title:messages.get('add.title') /}
<div id="save" class="content">
#{form @editInventario()}
<fieldset>
#{if inventario?.id != null}
<input type="hidden" name="inventario.id" value="${inventario.id}" />
#{/if}
#{else}
<input type="hidden" name="inventario.usuario.id" value="${user.id}" />
#{/else}
<legend>&{'edit.title'}</legend>
<label for="material">&{'add.material'}</label>
<input type="text" name="inventario.material" id="material" required autofocus value="${inventario?.material}" />
<small class="error">#{error 'inventario.material' /}</small>
<br>
<label for="entrada">&{'add.entrada'}</label>
<input type="number" name="inventario.entrada" id="entrada" pattern="[0-9]*" required value="${inventario?.entrada}" />
<small class="error">#{error 'inventario.entrada' /}</small>
<br>
<label for="saida">&{'add.saida'}</label>
<input type="number" name="inventario.saida" id="saida" pattern="[0-9]*" value="${inventario?.saida}" />
<small class="error">#{error 'inventario.saida' /}</small>
<br>
<label for="existencia">&{'add.existencia'}</label>
<input type="number" name="inventario.existencia" id="existencia" pattern="[0-9]*" value="${inventario?.existencia}" />
<small class="error">#{error 'inventario.existencia' /}</small>
<br>
<label for="incluidoem">&{'add.incluidoem'}</label>
<input type="text" name="inventario.incluidoem" id="incluidoem" value="${inventario?.incluidoEm?.format("dd/mm/yyyy")}" />
<small class="error">#{error 'inventario.incluidoEm' /}</small>
<br>
<label for="valunit">&{'add.valunit'}</label>
<input type="text" name="inventario.valunit" id="valunit" pattern="[0-9,.]*" required value="${inventario?.valunit}" />
<small class="error">#{error 'inventario.valunit' /}</small>
<br>
<label for="valtotal">&{'add.valtotal'}</label>
<input type="text" name="inventario.valtotal" id="valtotal" pattern="[0-9,.]*" value="${inventario?.valtotal}" />
<small class="error">#{error 'inventario.valtotal' /}</small>
<br>
<label for="classe">&{'add.classe'}</label>
<input type="text" name="inventario.classe.code" id="classe" pattern="[0-9]*" value="${inventario?.classe?.codigo}" />
<small class="error">#{error 'inventario?.classe' /}</small>
<br>
<label for="categoria">&{'add.categoria'}</label>
<select name="inventario.categoria.id" id="categoria">
<option value=""></option>
#{list items:categorias, as:'c'}
<option value="${c.id}"${inventario?.categoria?.id == c.id ? ' selected' : ''}>${c.name}</option>
#{/list}
</select>
<small class="error">#{error 'inventario.categoria' /}</small>
<br>
<label for="contacontabil">&{'add.contacontabil'}</label>
<input type="number" name="inventario.contacontabil" id="contacontabil" pattern="[0-9]*" value="${inventario?.contacontabil}" />
<small class="error">#{error 'inventario.contacontabil' /}</small>
<br>
<label for="fichageral">&{'add.fichageral'}</label>
<input type="number" name="inventario.fichageral" id="fichageral" pattern="[0-9]*" value="${inventario?.fichageral}" />
<small class="error">#{error 'inventario.fichageral' /}</small>
<br>
<label for="nba">&{'add.nba'}</label>
<input type="text" name="inventario.NBa" id="nba" value="${inventario?.NBa}" />
<small class="error">#{error 'inventario.NBa' /}</small>
<br>
<label for="ni">&{'add.ni'}</label>
<input type="text" name="inventario.NI" id="ni" value="${inventario?.NI}" />
<small class="error">#{error 'inventario.NI' /}</small>
<br>
<label for="observacoes">&{'add.observacoes'}</label>
<textarea name="inventario.observacoes" id="observacoes">${inventario?.observacoes}</textarea>
<small class="error">#{error 'inventario.observacoes' /}</small>
<br>
</fieldset>
<input class="submit" type="submit" id="submit" value="&{'add.submit'}" />
#{/form}
<div>
<ul>
#{list items:inventario?.codigos, as:'codigo'}
<li>
</li>
#{/list}
</ul>
</div>
#{if inventario?.id != null}
<a href="#@{delete(inventario.id)}" onclick="return confirm('&{'del.confirm'}')">&{'list.delete'}</a>
<a href="#@{unload(inventario.id)}">&{'list.unload'}</a>
<a href="#@{transfer(inventario.id)}">&{'list.transfer'}</a>
<script>
//Adicionar codigo
$('#addLabel').click(function() {
	/*$.post('@{addLabel(inventario.id)}', {codigo: '123123'}, function(label) {
		$('#labels').prepend(
			'<li>' + label.id + ' ' + label.codigo + '</li>'
		)
	}, 'json')*/
	$('#labels').prepend('<li><input type="text" id="inventario.labels.id" /></li>')
})
</script>
#{/if}
</div>