#{extends 'Application/layout.html' /}
#{set title:messages.get('home.title') /}
<div id="list">
<table>
#{if !search}
<tr id="add">
<th class="submit">
#{form @editInventario(), id:'addform'}
#{if categoria}
<input type="hidden" name="inventario.categoria.id" value="${categoria.id}"/>
#{/if}
<input type="hidden" name="inventario.usuario.id" value="${user.id}"/>
<button type="submit">+</button>
#{/form}
</th>
<th class="material"><input type="text" class="inplace_field" name="inventario.material" form="addform" placeholder="&{'list.material'}" required autofocus /></td>
<th class="entrada"><input type="text" class="inplace_field" name="inventario.entrada" form="addform" placeholder="&{'list.entrada'}" pattern="[0-9]*" required /></td>
<th class="valunit"><input type="text" class="inplace_field" name="inventario.valunit" form="addform" placeholder="&{'list.valunit'}" pattern="[0-9,.]*" required /></td>
<th class="valtotal"><input type="text" class="inplace_field" name="inventario.valtotal" form="addform" placeholder="&{'list.valtotal'}" pattern="[0-9,.]*" /></td>
<th class="date">${now.format("dd/MM/yyyy")}</td>
</tr>
#{/if}
#{paginate.list items:inventarios, as:'i'}
<tr class="inventario">
<td class="submit"><form action="@{edit(i.id)}"><button type="submit">&gt;</button></form></td>
<td id="material-${i.id}" class="edit material">${i.material}</td>
<td id="entrada-${i.id}" class="edit entrada">${i.entrada}</td>
<td id="valunit-${i.id}" class="edit valunit">${i.valunit}</td>
<td id="valtotal-${i.id}" class="edit valtotal">${i.valtotal}</td>
<td class="date">${i.criadoEm?.format("dd/MM/yyyy")}</td>
</tr>
#{/paginate.list}
#{else}
<tr>
<td colspan="3">&{'list.empty'}</td>
<td colspan="3"></td>
</tr>
#{/else}
</table>
</div>
<nav id="controls">
#{paginate.summary items:inventarios /}
#{paginate.controls items:inventarios /}
</nav>
<script>
$(".inventario .edit").editInPlace({
    bg_over: 'transparent',
    default_text: '',
    callback: function(el, n, o) {
        var m = /([a-z]+)-(\d+)/.exec(el), data = {}
        data['inventario.id'] = m[2]
        data['inventario.' + m[1]] = n
        // Save result
        $.ajax({
            url: '@{editInventario()}',
            type: 'PUT',
            data: data,
            success: function() {$('#' + el).html(n)},
            error: function() {$('#' + el).html(o)}
        })
        return true
    }
})
</script>
