#{extends 'layout.html' /}
<div id="home">
<div id="top">
<form id="search" action="#@{search()}" method="get">
<input type="search" id="query" name="query" placeholder="&{'home.search'}" />
*{<input type="submit" value="&{'home.search'}" />}*
*{<a href="#">Busca Avançada</a>}*
</form>
<nav class="menu">
<p class="welcome">&{'home.welcome', user?.posto != null? user.posto + ' ' + user.name : user?.name}</p>
<a href="@{password()}">&{'home.password'}</a>
<a id="logout" href="@{Secure.logout()}">&{'home.logout'}</a>
</nav>
#{if flash.error}
<small id="flash" class="error">&{flash.error}</small>
#{/if}
#{if flash.warn}
<small id="flash" class="warn">&{flash.warn}</small>
#{/if}
#{if flash.success}
<small id="flash" class="successr">&{flash.success}</small>
#{/if}
<small class="loading hide">&{'home.loading'}</small>
</div>
<div id="cat">
<ul class="cat">
<li><a href="@{add()}"><button>&{'home.add'}</button></a></li>
<li><a class="first" href="@{Application.index}">&{'home.home'}</a></li>
#{list items:categorias, as:'cat'}
<li><a href="/#${cat.slug}/1">${cat.name}</a></li>
#{/list}
<li><a href="#">+</a></li>
</ul>
</div>
<div id="main">
#{doLayout /}
</div>
</div>
