#{extends 'layout.html' /}
#{set title: messages.get('home.title') /}
<div id="home">
<div id="top">
<p class="welcome">&{'home.welcome', user?.posto != null? user.posto + ' ' + user.name : user?.name}</p>
<form id="search" action="#" method="post">
<input id="q" type="search" />
<input type="submit" value="Buscar Material" />
<a href="#">Busca Avançada</a>
</form>
<a href="@{password()}">&{'home.password'}</a>
<a id="logout" href="@{Secure.logout()}">Sair</a>
</div>
<div id="cat">
<ul class="cat">
<li><a class="first" href="@{index()}">Home</a></li>
#{list items:categorias, as:'cat'}
<li><a href="#${cat.slug}">${cat.name}</a></li>
#{/list}
</ul>
</div>
<div id="main">
#{doLayout /}
</div>
</div>
