#{extends 'Application/layout.html' /}
#{set title:messages.get('password.title') /}
<div id="password" class="content">
#{form @changePassword()}
<fieldset>
<legend>&{'password.title'}</legend>
<label for="current">&{'password.current'}</label>
<input type="password" name="current" id="current" required autofocus /><br>
<label for="password">&{'password.first'}</label>
<input type="password" name="password" id="password" required /><br>
<label for="password2">&{'password.second'}</label>
<input type="password" name="password2" id="password2" value="" required /><br>
</fieldset>
<input class="submit" type="submit" id="submit" value="&{'password.submit'}" />
#{/form}
</div>
