#{extends 'Application/layout.html' /}
#{set title:messages.get('password.title') /}
#{form @changePassword()}
<fieldset class="error">
<legend>&{'password.title'}</legend>
<label for="password">&{'password.first'}</label>
<input type="password" name="password" id="password" required autofocus />
<label for="password2">&{'password.second'}</label>
<input type="password" name="password2" id="password2" value="" required />
#{if flash?.error}
<small>&{flash.error}</small>
#{/if}
#{if flash?.success}
<small>&{flash.success}</small>
#{/if}
#{if flash?.changepassword}
<small>&{flash.changepassword}</small>
#{/if}
</fieldset>
<input class="submit" type="submit" id="submit" value="&{'password.submit'}" />
#{/form}