<!DOCTYPE html>
<html>
<meta charset="${_response_encoding}">
#{get 'moreMetatags' /}
<link rel="shortcut icon" href="@{'/public/images/favicon.png'}">
<link rel="stylesheet" href="@{'/public/styles/screen.scss'}" />
#{get 'moreStyles' /}
<script src="@{'/public/scripts/jquery-1.6.4.min.js'}"></script>
#{get 'moreScripts' /}
<title>#{get 'title' /}</title>
<div class="wrapper">
<header>
<div class="container">
<img src="@{'/public/images/logo.png'}" alt="&{'main.ime'}" />
<div class="title">
<h1>&{'main.title'}</h1>
<h2>&{'main.secao'}</h2>
</div>
</div>
</header>
#{doLayout /}
<div class="push"></div>
</div>
<footer>
<span>&{'main.authors'}</span>
</footer>
</html>
